<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" color="light" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor eros sit amet lectus ultricies tempus. Sed posuere vehicula nunc sit amet iaculis. Phasellus lectus est, congue id auctor quis, semper ut augue. Quisque mattis tincidunt nibh, at dapibus magna convallis vestibulum. Aenean sed leo eget risus dignissim fringilla at id urna. Duis nec lacus at nulla volutpat lacinia nec nec est. Praesent risus leo, pharetra sit amet feugiat nec, rutrum in felis.
    </ion-card-content>
    <ion-img src="/assets/shapes.svg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor eros sit amet lectus ultricies tempus.
  </ion-card-content>
  </ion-card>

</ion-content>
